/* @charset "UTF-8"; */

section{
	position : relative;
	margin-top: 7%;
	left: 14%;
}
.btns{
	clear: left;
    padding-top: 10px;
    position: relative;   
}
.word{
	font-size: 22px;
	cursor:
	pointer;
	margin-left: 10px;
}
.btn{
	width: 5%;
	height: 36px;
	font-size: 18px;
	margin-right: 12px;
}

#textarea{
	width: 30%;
	height: 600px;
	overflow-y: scroll;
	float: left;
	margin: -2px;
	border: 1px solid black;
}

div#textarea {}
#textchosen_container{
	border: 1px solid black;
	width: 30%;
	float : left;
	height: 600px;
	overflow-y: scroll;
	left: 40%;
	position : absolute;
}
.insertBtn{
	left: 25%;
    position: absolute;
}
.myname{
	text-align: center;
	font-size: 2.5em;
	position: absolute;
	left: 32%;
	top: -20%;
}
.insertStyle{
	font-weight : bold;
}
.clickStyle{
	color : #009999;
}
.textchosen_wrapper span{
	display:
	block;
	padding-left: 30px;
	font-size: 21px;
	margin-top: 5px;
	margin-bottom: 5px;
} 
.textchosen_wrapper{  
	padding: 10px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-width: 2px;
    width: 70%;
    left: 10%;
    position: relative;
}
.deleteBtn{
 	position : absolute;
 	top: 35%;
 	right : 10px;
 	width: 38px;
 	height: 28px;
 	font-size: 18px;
} 
